@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red--: hsl(0, 100%, 74%);
  --green--: hsl(154, 59%, 51%);
  --blue--: hsl(248, 32%, 49%);
  --dark-blue--: hsl(249, 10%, 26%);
  --gray-blue--: hsl(246, 25%, 77%);
}

body {
  margin: 5%;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--red--);
  background-image: url(images/bg-intro-desktop.png);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* Main Section  */
#main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Content Section  */
.content-section {
  padding: 10% 5%;
  width: 50%;
  margin-right: 5%;
}

.site-title {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.2;
}

.site-description {
  line-height: 1.5;
}

/* Form Section start  */
.form-section {
  text-align: center;
}

.try-btn {
  background-color: var(--blue--);
  color: #fff;
  padding: 3% 10%;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 5px 1px black;
  margin-bottom: 3%;
  cursor: pointer;
}

/* Form Section  */
form {
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 3%;
  margin: 2%;
  border-radius: 5px;
  border: 1px solid var(--gray-blue--);
  font-weight: 900;
}

.claim-btn {
  width: 96%;
  background-color: var(--green--);
  padding: 3%;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  margin-top: 2%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.terms-condition {
  color: var(--gray-blue--);
  font-size: 0.7rem;
}

.term-word {
  color: var(--red--);
  font-weight: 900;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
