@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red--: hsl(0, 100%, 74%);
  --green--: hsl(154, 59%, 51%);
  --blue--: hsl(248, 32%, 49%);
  --dark-blue--: hsl(249, 10%, 26%);
  --gray-blue--: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--red--);
  background-image: url(images/bg-intro-desktop.png);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Content Left Section  */
.content-section {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.site-title {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.2;
}

.site-description {
  line-height: 1.5;
}

/* Form Right Section  */
.form-section {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.try-btn {
  background-color: var(--blue--);
  color: #fff;
  padding: 3% 25%;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 5px 1px black;
  margin-bottom: 3%;
  cursor: pointer;
}

/* Inside Form Section  */
form {
  background-color: #fff;
  padding: 5%;
  width: 80%;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  padding: 3%;
  margin: 2%;
  border-radius: 5px;
  border: 1px solid var(--gray-blue--);
  font-weight: 900;
}

.claim-btn {
  width: 96%;
  background-color: var(--green--);
  padding: 3%;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  margin-top: 2%;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}

/* Below Term & Condition */
.terms-condition {
  color: var(--gray-blue--);
  font-size: 0.7rem;
}

.term-word {
  color: var(--red--);
  font-weight: 900;
}

/* CSS for Required eleement */

input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  left: 20vw;
  bottom: 1.7rem;
}

input:invalid {
  border: 2px solid red;
}

input:invalid + span::before {
  content: url(images/icon-error.svg);
  color: red;
}

input:valid + span::before {
  content: "✓";
  color: green;
}

/* THis is for JS email Validation  */

/* input[type="email"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid #333;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
  box-sizing: border-box;
} */

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: #f00;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  bottom: 0.5rem;
  left: 10rem;
}

.error.active {
  padding: 0.3em;
}

/* Attribute Section  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1080px) and (min-width: 640px) {
  .try-btn {
    padding: 3% 23%;
  }

  form {
    width: 90%;
  }
}

@media (max-width: 640px) {
  body {
    background-image: url(images/bg-intro-mobile.png);
  }

  #main-section {
    flex-direction: column;
  }

  .content-section {
    padding: 0;
    width: 100%;
    margin-right: 0;
  }

  .site-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 5%;
  }

  .site-description {
    text-align: center;
    padding-bottom: 10%;
  }

  .try-btn {
    padding: 5% 25%;
  }

  form {
    margin-top: 5%;
    max-width: 100%;
    width: 90%;
  }

  input {
    padding: 5% 3%;
  }

  .claim-btn {
    padding: 5% 3%;
  }

  .error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: #f00;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    bottom: 0.5rem;
    left: 3rem;
  }

  input + span::before {
    position: absolute;
    left: 50vw;
    bottom: 1.5rem;
  }
}
